<table mat-table [dataSource]="books" class="mat-elevation-z8">
    <!-- it can be used for the loading time - when getting the project members -->
    <p *ngIf="!books"><em>Loading...</em></p>
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- book column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let book">{{book.title}}</td>
    </ng-container>
  
    <!-- author column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>author</th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>